body {
    margin: 0 30em;
    font-style: sans-serif, arial, helvetica;
    border-style: solid;
    box-shadow: 5px 10px #888888;
    text-align: center;
}

img {
    height: 30%;
    width: 30%;
}

form {
    text-align: left;
    padding: 1.5em;
}

.output {
    display: inline;
}